{% load static %}

<li>
    <article class="post">
        <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" alt="{{ post.slug }}">
            <div class="post__content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <div class="tags">
                    {% for tag in post.tag.all %}
                        <p class="tag">#{{ tag|upper }}</p>
                    {% endfor %}
                </div>
            </div>
        </a>
    </article>
</li>
