{% extends "base.html" %}
{% load static %}

{% block title_name %}
    {{ post.title }}
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/includes/navbar.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}
    {% include "blog/includes/navbar.html" %}

    <div id="container">
        <section id="info" class="sections">
            <div>
                <h1>{{ post.title }}</h1>
                    <form action="{% url "read-later" %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ post.slug }}" name="post_slug">
                        {% if is_saved %}
                            <button id="like-button">Saved &#10003;</button>
                        {% else %}
                            <button id="read-later">Read Later</button>
                        {% endif %}
                    </form>

            </div>
            <article>
                <img src="{{ post.image.url }}" alt="post.slug">
                <address>By <a href="mailto:{{ post.author.email }}">{{ post.author.first_name }}</a></address>
                <p>Last updated <time>{{ post.date|date:"d/m/Y" }}</time></p>
            </article>
        </section>
        <main id="content" class="sections">
                <p>{{ post.content }}</p>
        </main>
        <div class="sections">
            <div id="comment-cont">
                <h2 id="comment-title">Comments ({{ post.comments.all|length }})</h2>
                <a href="{% url "comment" post.slug %}">Add Comment</a>
            </div>
            <section id="comments" class="sections">
                {% if post.comments.all %}
                    {% for comment in post.comments.all %}
                        <div class="comment">
                            <div class="comment-info">
                                <div class="profile">
                                    <img src="{{ comment.profile_pic.url }}" alt="{{comment.user_name}}">
                                    <h3>{{ comment.user_name }}</h3>
                                </div>
                                <p class="comment-text">{{ comment.comment_text }}</p>
                                <p class="rating">{{ comment.rating }}/5</p> 
                            </div>
                           
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet</p>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock  %}