{% extends "base.html" %}
{% load static %}

{% block title_name %}
    {{ post.title }}
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}
    {% include "blog/includes/navbar.html" %}

    <div id="container">
        <section id="info">
            <h1>{{ post.title }}</h1>
            <article>
                <img src="{% static "blog/images/"|add:post.photo %}" alt="post.id">
                <address>By V</address>
                <p>Last updated <time>{{ post.date_update|date:"d/m/Y" }}</time></p>
            </article>
        </section>
        <main id="content">
                <p>{{ post.content }}</p>
        </main>
    </div>

{% endblock  %}