{% extends "base.html" %}
{% load static %}

{% block title_name %}
    {{ post_title }}
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}
    {% include "blog/includes/navbar.html" %}

    <div id="container">
        <div id="b-1">
            <h1>{{ post_title }}</h1>
            <div>
                <img src="{% static post_pic %}" alt="zdj">
                <p><span>By V</span></p>
                <p>Last updated <span>{{ post_date }}</span></p>
            </div>
        </div>
        <div id="b-2">
            <p>{{ post_content }}</p>
        </div>
    </div>

{% endblock  %}